@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #bae0d1;
}
/*Estilos para el encabezado*/
.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #184b48;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu,
.logo {
    float: left;
    line-height: 100px;
}
.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.logo h1 {
    color: #eff2f3;
    font-weight: 400px;
    font-size: 20px;
    margin-left: 5px;
}

label img.imagen {
    margin: 8px;
    max-width: 70px;
    /* Ajusta el ancho máximo según tus necesidades */
}
---------
    /* Estilos para la etiqueta label dentro del contenedor .container con la clase .btn-menu1 */
.container .btn-menu1 label {
    color: #fff;
    cursor: pointer;
}

/* Estilos para los enlaces dentro del contenedor .menu */
.menu a {
    color: #f4f7f8;
}

/* Estilos para la imagen con la clase .imagen1 dentro de la etiqueta label */
/* FOTO DEL USUARIO EN LA PARTE DEL HEADER */
label img.imagen1 {
    margin: 10px;
    max-width: 85px;
    border: 2px solid #bae0d1; /* Borde sólido de 2px de color gris */
    padding: 0px; /* Espacio interno alrededor de la imagen */
    box-sizing: border-box; /* Incluir el borde en el tamaño total de la imagen */
}

label .imagen1:empty::after {
    content: "Imagen no disponible"; /* Texto de referencia */
    display: block; /* Mostrar como bloque para ocupar espacio */
    margin-top: 70px; /* Espacio superior al texto de referencia */
    color: #184b48; /* Color del texto de referencia */
}

/* Estilos para el contenedor .menu dentro del contenedor .container */
.container .menu {
    float: right;
    line-height: 4px;
}

/* Estilos para los enlaces dentro del contenedor .menu dentro del contenedor .container */
.container .menu h3 {
    margin-right: 25px;
    margin-top: 60px;
    float: right;
    font-size: 16px;
}

.imagen1 {
    width: 30%;
    height: auto;
    border-radius: 50px;
}

.expandable {
    text-decoration: none; /* Quitar el subrayado */
    color: #f0f9f6;
}

.expandable:hover {
    color: #bae0d1;
    cursor: pointer;
}

.submenu {
    display: none;
    list-style: none;
    padding: 10px;
    margin: 60px 0 0 0;
}

.menu {
    position: relative;
    transition: all 500ms ease;
    transform: translateX(+21.5%); /*ELIMINAR SI EN CASO SEA NECESARIO*/
}
/*EL SUBMENU DEL NOMBRE DEL USUARIO*/
.submenu {
    display: none;
    position: absolute;
    background-color: #184b48;
    border-radius: 3px;
    top: 96%;
    left: 0;
    list-style: none;
    padding: 0px 40px;
    margin: 0;
}

.submenu li {
    display: inline-block;
    margin-right: 10px;
    color: #f0f9f6;
}

.submenu a {
    text-decoration: none;
    color: #f0f9f6;
    padding: 5px;
    display: block;
}
.submenu a:hover {
    color: #8cc9b6;
}

----------
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu {
    display: none;
}

input[type="checkbox"] {
    display: none;
}
.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 130vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
    color: #030303;
}
.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #184b48;
    height: 130vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}
.cont-menu nav {
    transform: translateY(15%);
}
.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #f5f3f3;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover {
    border-left: 5px solid #297260;
    background: #bae0d1;
    color: #030303;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.search-container {
    width: 100%;
    align-items: center;
    padding: 14px;
    margin-bottom: 0px;
}

.search-container i {
    margin-right: 5px;
    position: relative;
    top: 47px;
    left: 93%;
    color: #a09d9d;
}

.search-container input {
    padding: 10px;
    width: 103%;
    border-radius: 10px;
    border: none;
}

/* Estilo del marco para la imagen */
.img {
    width: 50%;
    left: 10px;
    border: 2px solid #bae0d1; /* Borde sólido de 2px de color gris */
    padding: 0px; /* Espacio interno alrededor de la imagen */
    box-sizing: border-box; /* Incluir el borde en el tamaño total de la imagen */
}

/* Estilo para la referencia visual cuando no hay imagen */
.img:empty::after {
    content: "Imagen no disponible"; /* Texto de referencia */
    display: block; /* Mostrar como bloque para ocupar espacio */
    margin-top: 65%; /* Espacio superior al texto de referencia */
    color: #184b48; /* Color del texto de referencia */
}

.imagen-container {
    text-align: center;
    padding: 1px;
}

h1,
h5 {
    color: beige;
    font-size: 14px;
    margin: 2px;
}

h2 {
    color: beige;
    font-size: 18px;
    margin: 10px;
}

h6 {
    color: beige;
    font-size: 15px;
    margin: 10px;
}

/*titulo del registro*/
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

h4 {
    margin: 15px;
    font-size: 25px;
}

/*contenido*/

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    h4 {
        margin: 12vw; /* Margen fijo para pantallas más pequeñas */
    }
    h3 {
        display: none; /* Oculta el texto en dispositivos más pequeños */
    }
    .imagen1 {
        width: 50%;
        height: auto;
        border-radius: 50px;
    }
}

li {
    cursor: pointer;
}

/*MODAL PARA CAMBIAR LA FOTO*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    overflow: auto;
}

.modal-content {
    background-color: #ffffff;
    margin: 8% auto;
    padding: 20px;
    width: 35%;
    border-radius: 10px;
}

h3 {
    /* Estilos específicos para el título */
    margin: 0;
    color: #a7a1a1;
    /* Elimina el margen predeterminado del título */
}

.direccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Estilos para el botón de cerrar */
.close {
    color: #cecdcd;
    float: right;
    font-size: 30px;
}

.close:hover,
.close:focus {
    color: #aaa7a7;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para la previsualización de la imagen */
#previewContainer {
    padding-left: auto;
}

#previewImage {
    max-width: 100%;
    max-height: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 20px;
}

/* Estilos para la imagen principal */
#mainImageContainer {
    margin-top: 20px;
}

#previewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
    /* Espacio inferior para separar del siguiente elemento */
}

#previewImage {
    max-width: 100%;
    max-height: 200px;
}

#imageForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#imageInput {
    margin: 15px;
    flex: 1;
}

/* Estilos para los botones */
.azul {
    display: inline-block;
    padding: 11px 0px;
    border: 2px solid #008dce;
    background-color: #2cc5ff;
    color: #04314d;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.azul:hover {
    background-color: #1ec0ff;
}

.azul {
    width: 25%;
    margin: 0px;
}

/* Estilos generales para el input de tipo file */
input[type="file"] {
    border: 2px solid #6bb800;
    padding: 8px;
    border-radius: 5px;
    background-color: #c5ff50;
    color: #1b3400;
    font-size: 14px;
    font-weight: bold;
}

/* Estilos cuando el input tiene el foco */
input[type="file"]:focus {
    outline: none;
}

/* Estilos para el texto dentro del input */
input[type="file"]::placeholder {
    color: #108b76;
}

/*FIN DEL MODAL*/

/* Estilos modal cambiar constraseña */
.cambiar-password-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    color: #07314a;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

#email,
#currentPassword,
#newPassword,
#confirmedPassword {
    width: calc(
        100% - 40px
    ); /* El ancho del input menos el espacio del icono */
    padding: 8px;
    margin: 5px 0px;
    border-radius: 4px;
    border: 1px solid #008cff;
    box-sizing: border-box;
    padding: 8px;
}

#show-password1,
#show-password2,
#show-password3,
#arroba {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-22%);
    cursor: pointer;
    color: #262626;
    border-radius: 4px;
    border: 1px solid #0b22f0;
    background-color: #e7e7e7;
    padding: 8px;
}

#show-password1:hover,
#show-password2:hover,
#show-password3:hover,
#arroba:hover {
    color: #262626; /* Cambia el color al pasar el ratón por encima si lo deseas */
}

.bot {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2cc5ff;
    color: #07314a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.bot:hover {
    background-color: #008dce;
}
