@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: Arial, sans-serif;
	}
	body{
		background-color: #bae0d1;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 120px;
        position: fixed;
		top: 0;left: 0;
    background-color: #184B48;
    
        
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;   
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
        
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: #EFF2F3;
		font-weight: 400px;
		font-size: 20px;
		margin-left: 5px;
	}

    label img.imagen {
        margin: 8px;
        max-width: 70px;
         /* Ajusta el ancho máximo según tus necesidades */
    }
    ---------
    /* Estilos para la etiqueta label dentro del contenedor .container con la clase .btn-menu1 */
.container .btn-menu1 label {
    color: #fff;       
    cursor: pointer;    
  }
  
  /* Estilos para los enlaces dentro del contenedor .menu */
  .menu a {
    color: #f4f7f8;    
  }
  
  /* Estilos para la imagen con la clase .imagen1 dentro de la etiqueta label */
/* Estilo del marco para la imagen */
label img.imagen1 {
  margin: 20px;
  max-width: 85px;
  border: 2px solid #bae0d1; /* Borde sólido de 2px de color gris */
  padding: 0px; /* Espacio interno alrededor de la imagen */
  box-sizing: border-box; /* Incluir el borde en el tamaño total de la imagen */
}

label .imagen1:empty::after {
  content: "Imagen no disponible"; /* Texto de referencia */
  display: block; /* Mostrar como bloque para ocupar espacio */
  margin-top: 70px; /* Espacio superior al texto de referencia */
  color: #184B48; /* Color del texto de referencia */
}


  
  /* Estilos para el contenedor .menu dentro del contenedor .container */
  .container .menu {
    float: right;   
    line-height: 4px;  
   
}
  
  /* Estilos para los enlaces dentro del contenedor .menu dentro del contenedor .container */
  .container .menu h3 {
    margin-right: 25px;  
    margin-top: 60px; 
    float: right; 
    font-size: 16px;  
  }
  

  .imagen1 {
    width: 30%; 
    height: auto; 
    border-radius: 50px; 
  }
  
  h3 {
    text-decoration: none; /* Quitar el subrayado */
    color: #f0f9f6; 
    
  }

  h3:hover{
    color: #bae0d1;
    cursor: pointer;
  }
   ---------------------

  
  .submenu {
    display: none;
    list-style: none;
    padding: 50px;
    margin: 60px 0 0 0; 
  }
  
  .menu {
    position: relative;
    transition: all 500ms ease;
		transform: translateX(+21.5%); /*ELIMINAR SI EN CASO SEA NECESARIO*/
  }
  
  .submenu {
    display: none;
    position: absolute;
    background-color: #184B48;
    border-radius: 8px;
    top: 86%;
    left: 0;
    list-style: none;
    padding: 0px 40px; 
    margin: 0;
  }
  
  .submenu li {
    display: inline-block;
    margin-right: 10px;
    color: #f0f9f6;
  }
  
  .submenu a {
    text-decoration: none;
    color: #f0f9f6;
    padding: 5px;
    display: block; 
  }
  .submenu a:hover{
    color: #8cc9b6;
  }
    


  
  
  
     
	
    ----------
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
        
	}

  input[type="checkbox"] {
    display: none;
  }
	.container-menu{
		position: fixed;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 130vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
        
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
        color: #030303;
        
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #184B48;
		height: 130vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #f5f3f3;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #297260;
		background: #bae0d1;
        color: #030303;
	}

	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}

    .search-container {
        width: 100%;
        align-items: center; 
        padding: 14px;
        margin-bottom: 0px; 
    }
    
    .search-container i {
        margin-right: 5px;
        position: relative;
        top: 47px; 
        left: 93%; 
        color: #a09d9d;
    }
    
    
    .search-container input {
        padding: 10px;
        width: 103%;
        border-radius: 10px; 
        border: none;
    }

  /* Estilo del marco para la imagen */
  .img {
    width: 50%;
    left: 10px;
    border: 2px solid #bae0d1; /* Borde sólido de 2px de color gris */
    padding: 0px; /* Espacio interno alrededor de la imagen */
    box-sizing: border-box; /* Incluir el borde en el tamaño total de la imagen */
  }

  /* Estilo para la referencia visual cuando no hay imagen */
  .img:empty::after {
    content: "Imagen no disponible"; /* Texto de referencia */
    display: block; /* Mostrar como bloque para ocupar espacio */
    margin-top: 65%; /* Espacio superior al texto de referencia */
    color: #184B48; /* Color del texto de referencia */
  }

    .imagen-container {
        text-align: center; 
        padding: 1px; 
       
    }

    h1, h5{
      color: beige;
      font-size: 14px;
      margin: 2px;
  }

  h2{
    color: beige;
    font-size: 18px;
    margin: 10px;
  }

  h6{
    color: beige;
    font-size: 15px;
    margin: 10px;
  }


    
 /*titulo del registro*/
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    
}

h4 {
    margin: 15px;
}



/*contenido*/
/* from*/

.capa1 {
  
  display: flex;
  justify-content: center;
}

form {
  width: 95%;
  padding: 20px;
  
}

.input-general, .input-general1, .input-general2, .input-general3,
.input-general4, .input-general5, .input-general6{
  display: flex;
  flex-wrap: wrap;
  color: #0b2827; /* Permite que los elementos se envuelvan a la siguiente línea */
}




.input-group, .input-group1, .input-group2,
 .input-group3, .input-group4, .input-group5, .input-group6{
  flex: 1; 
  margin-right: 20px; 
}




.input-group:last-child,.input-group1:last-child, 
.input-group2:last-child, .input-group3:last-child,
.input-group4:last-child,.input-group5:last-child, 
.input-group6:last-child {
  margin-right: 0; 
}

 .centro{
  display: block; 
  margin-bottom: 1px;

}

 select {
  width: 100%; 
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0px;
  border: 1px solid #00961c;
  
}

#usuario{
  width: 100%; 
  padding: 8px;
  border-radius: 5px;
  margin: 24px 0px;
  border: 1px solid #00961c;
}

input[type="text"], input[type="tel"]  {
  width: 100%; 
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0px;
  border: 1px solid #00961c;

}

/* Estilo para el input de tipo archivo */
input[type="file"] {
  background-color: #ffffff;
  border: 1px solid #00961c;
  border-radius: 3px;
  padding: 8px;
  margin:20px 0px;
  color: #000000;
  cursor: pointer;
}





input:focus {
  outline: none;
}

 textarea {
  width: 100%; /* Los inputs ocupan todo el ancho del grupo */
  padding: 1px;
  border-radius: 5px;
  margin: 10px 0px;
  border: 2px solid #00961c;
}


#resultado{
  width: 100%; /* Los inputs ocupan todo el ancho del grupo */
  padding: 20px;
  height: 80%;
  border-radius: 5px;
  margin: 20px 0px;
  border: 2px solid #bae0d1;
  background-color: #bae0d1;
}


/* Asegúrate de que ".Act" y ".Env" estén dentro del mismo contenedor padre */
.almacenar {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinea verticalmente los elementos en el contenedor */
  margin-top: 0%;
}

.Actualizar button,
.Enviar button {
  width: 250px; /* Ocupa el 100% del ancho del contenedor */
  padding: 10px; /* Puedes ajustar este valor según tus necesidades */
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid;
  cursor: pointer;
  margin: 10px;
}

.Actualizar button {
  border-color:#01a8b9;
  background-color: #1af0f6;
}

.Actualizar button:hover{
  background-color: #09bcee;
}

.Enviar button {
  border-color: #f81616;
  background-color: #ff9898;
  
}

.Enviar button:hover{
  background-color: #ff2a2a;
}

fieldset {
  background-color: #edfff0;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #00961c;
  border-radius: 5px;
}
legend {
  font-weight: bold;
  margin-bottom: 10px;
  color: #fb0707;
}

/*VER CONTRASEÑA*/
.password-container {
  position: relative;
}

.password-container i {
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #262626;
  background-color: #e7e7e7; /* Fondo blanco para el ícono */
  padding: 8px;
   /* Espacio interno dentro del ícono */
  /* Bordes redondeados para el ícono */
}

#password {
  width: calc(100% - 40px); /* El ancho del input menos el espacio del icono */
  padding: 8px;
  margin: 5px 0px;
  border-radius: 4px;
  border: 1px solid #00961c;
  box-sizing: border-box;
}

#show-password {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #262626;
  border-radius: 4px;
  border: 1px solid #00961c;

}

#show-password:hover {
  color: #262626; /* Cambia el color al pasar el ratón por encima si lo deseas */
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  h4 {
      margin: 12vw; /* Margen fijo para pantallas más pequeñas */
  }
  h3 {
      display: none; /* Oculta el texto en dispositivos más pequeños */   
  }
  .imagen1 {
    width: 50%; 
    height: auto; 
    border-radius: 50px; 

  }

}

li{
  cursor: pointer;
}

h3 {
    /* Estilos específicos para el título */
    margin: 0;
    color: #a7a1a1
    /* Elimina el margen predeterminado del título */
}

.direccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Estilos para el botón de cerrar */
.close {
    color: #cecdcd;
    float: right;
    font-size: 30px;
}

.close:hover,
.close:focus {
    color: #aaa7a7;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para la previsualización de la imagen */
#previewContainer {
    padding-left: auto;
}


#previewImage {
    max-width: 100%;
    max-height: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 20px;
}

/* Estilos para la imagen principal */
#mainImageContainer {
    margin-top: 20px;
}


#previewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1px;
  /* Espacio inferior para separar del siguiente elemento */
}

#previewImage {
  max-width: 100%;
  max-height: 200px;
}


#imageForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#imageInput {
  margin: 15px;
  flex: 1;

}

/* Estilos para los botones */
.azul {
    display: inline-block;
    padding: 8px 0px;
    border: 1px solid #008bf5;
    background-color: #06a4ff;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.azul:hover {
    background-color: #1ec0ff;
}


.azul {
    width: 25%;
    margin: 0px;
}


/* Estilos generales para el input de tipo file */
input[type="file"] {
    border: 1px solid #00961c;
    padding: 8px;
    border-radius: 5px;
    background-color: #73fe58;
    color: #000000;
    font-size: 14px;

}

/* Estilos cuando el input tiene el foco */
input[type="file"]:focus {
    outline: none;
}

/* Estilos para el texto dentro del input */
input[type="file"]::placeholder {
    color: #108b76;
}
